body{
    background: #1a1a1a !important;
    color:#fff !important;
}
.text-center{
    text-align: center;
}

.head{
    margin-top:40px;
    margin-bottom:40px;
    position: fixed;
    margin: 40px auto;
}

.videos{
    margin-top:120px;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:120px;
}

.video-container{
    background: #fff;
    height: 50%;
    border: 1px solid #00000024;
    width: 40%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 0px #0000006e;
    color: #1a1a1a ;
    @media(max-width: 768px){
        width: 90%;
        .yb{
            margin-top: -28% !important;
            margin-left: 40% !important;
        }
    }
    @media(max-width: 767px){
        width: 90%;
        h3{
            font-size: 12px;
        }
        .yb{
            @media(min-height:400px) and (max-height:500px){
                margin-top: -35%!important;
                margin-left: 30% !important;
            }
            @media(min-height:500px) and (max-height:600px){
                margin-top: -42%!important;
                margin-left: 30% !important;
            }
            @media(min-height:600px)  and (max-height:700px){
                margin-top: -42%!important;
                margin-left: 30% !important;
            }
            @media(min-height:700px) and (max-height:800px){
                margin-top: -40% !important;
                margin-left: 35% !important;
            }
            @media(min-height:800px) and (max-height:900px){
                margin-top: -48% !important;
                margin-left: 33% !important;
            }
            @media(min-height:900px) and (max-height:1024px){
                margin-top: -45%!important;
                margin-left: 30% !important;
            }
        }
    }
    h3{
        text-align: left;
    }
    .video{
        width: 100%;
        height: 70%;
        border: 1px solid #000;
        margin: 20px auto;
        padding: 10px;
        background: #000;
        img{
            height: 100%;
        }
        &:hover{
            .yb{
                svg{
                    path{
                        &:first-of-type{
                            fill:red;
                        }
                    }
                }
            }
        }
    }
    .yb{
        width: 100px;
        height: 50px;
        margin-top: -150px;
        margin-left: 40%;
        
    }
}

.content{
    width: 20%;
    position: absolute;
    margin-left: 30px;
    margin-top: 10%;
    font-weight: 600;
    font-size: 24px;
    @media(max-width: 768px){
        display: none;
    }
}
.content2{
    width: 20%;
    position: absolute;
    margin-left: 30px;
    margin-top: 20%;
    font-weight: 600;
    font-size: 22px;
    @media(max-width: 768px){
        display: none;
    }
}
.content3{
    width: 20%;
    position: absolute;
    margin-left: 30px;
    margin-top: 30%;
    font-weight: 600;
    font-size: 34px;
    li{
        list-style: none;
        line-height: 40px;
    }
    @media(max-width: 768px){
        display: none;
    }
}
.content4{
    width: 20%;
    position: absolute;
    font-weight: 600;
    font-size: 24px;
    top: 0;
    right: 0;
    margin-right: 40px;
    margin-top: 5%;
    @media(max-width: 768px){
        display: none;
    }
}